.navbar{
position: fixed;
margin-top: 10px;
top: 0;
width: 100%;
padding: 20px;
display: flex;
justify-content: space-between;
background-color: blue;
}


.logo
{
    margin-top: 0px;
    position: fixed;
    left: 20px;
    width: 80px;
}